.header{
  margin-bottom: 20px;
}
.logo{
  text-align: center;
  padding: 10px;
}
.gnb ul{
  display: flex;
  justify-content: center;
  background: #327fe4;
  margin-bottom: 30px;
}
.gnb ul li a{
  display: block;
  padding: 10px;
  color: #fff;
}
.gnb ul li a.active{
  color: #ff0;
  text-decoration: underline;
}
/* login */
.page{
  text-align: center;
}
.cont_wrap{
  border: 1px solid #000;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}
.input{
  height: 25px;
  padding: 5px 10px;
  margin: 5px;
}
.inTitle{
  margin-top: 10px;
}
.errMassage{
  font-size: 14px;
  color: #f00;
}
.btn{
  padding: 5px 10px;
  border: 1px solid #000;
  background: #fff;
  opacity: .3;
  transition: .3s;
}
.btn:hover{
  opacity: 1;
  background: #327fe4;
  color: #fff;
  border: 1px solid #327fe4;
}
/* counter */
.counter_wrap{
  display: flex;
  margin: 10px;
}
.counter_wrap span{
  width: 50px;
  background: #ddd;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
.counter_wrap button{
  height: 30px;
  width: 50px;
  cursor: pointer;
}

.foot_wrap{
  text-align: center;
  background: #ddd;
  padding: 20px 10px;
  margin-top: 30px;
}